<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./../css/main.css">
    <link rel="stylesheet" href="./../build/css/intlTelInput.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <title>Views</title>
  </head>
  <body>
    <div class="div2" id="tercera">
      <div class="add">
        <a href="./view2.html" class="previeus add-phone">&#60;</a>
        <h2 class="add-phone text">Sing Up</h2>
        <h3 class="text">Join now for free ride credit</h3>
        <hr>
        <div class="form-group has-success has-feedback">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user-o"></i> </span>
            <input type="text" class="form-control" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess4Status" placeholder="Fist name  Last name">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i> </span>
            <input type="text" class="form-control" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess4Status" placeholder="Email">
          </div>
          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>
        </div>
        <div class="has-success">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="checkboxSuccess" value="option1">
              I gree to Lyft´ss <a href="#">Terms of services</a>
            </label>
          </div>
        </div>
        <br>
        <button class="btn btn-primary btn-lg next-button" type="submit" disabled><a href="./view4.html">Next</a></button>
      </div>
    </div>
  </body>
</html>
