<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./../css/main.css">
    <link rel="stylesheet" href="./../build/css/intlTelInput.css">
    <link rel="stylesheet" href="./../css/main.css">
    <title>Views</title>
  </head>
  <body>
    	<div class="div2" id="primero">
        <div class="add">
          <a href="./../index.html" class="previeus add-phone">&#60;</a>
          <h2 class="add-phone text">Sing Up</h2>
          <h3 class="text">Join now for free ride credit</h3>
          <hr>
          <form class="add-text">
          <span >52 </span>
           <input id="intl-phone" type="tel">
           <button type="submit" placeholder="phone">go</button>
         </form>
          <h3 class="text ad-text">We`ll send a text to verify your phone</h3>
          <button class="btn btn-primary btn-lg next-button" type="submit" disabled><a href="./view2.html">Next</a></button>
        </div>
      </div>
  </body>
</html>
