<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./../css/main.css">
    <link rel="stylesheet" href="./../build/css/intlTelInput.css">
    <link rel="stylesheet" href="./../css/main.css">
    <title>Views</title>
  </head>
  <body>
    	<div class="div2" id="segunda">
        <div class="add">
          <a href="./views.html" class="previeus verify-phone">&#60;</a>
          <h2 class="verify-phone text">Verify phone number</h2>
          <h3 class="text">Join now for free ride credit</h3>
          <hr>
          <form class="add-text">
          <span >LAB </span>
           <input id="intl-phone" type="tel">
           <button type="submit" placeholder="phone">go</button>
         </form>
          <h3 class="text ad-text">Enter the code sento to +52</h3>
          <button class="btn btn-primary btn-md verify-button " type="submit">Resend Code</button>
          <br>
          <button class="btn btn-primary btn-lg next-button" type="submit"><a href="./view3.html">Next</a></button>
        </div>
      </div>
  </body>
</html>
